.section {
  padding: 100px 0;
  background: #ffffff;
 
}

.inner {
  padding-left: 5%;
  padding-right: 5%;
}

.rowWrapper {
  width: 100%;
}

.card {
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(241, 241, 240);
  height: 100%;
  min-height: 280px;
}

.cardAccent {
  background: #c8ff00;
}

.corner {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 0;
  height: 0;
  border-top: 20px solid #000000;
  border-left: 20px solid transparent;
}

.number {
  font-size: clamp(60px, 10vw, 180px);
  font-weight: 500;
  line-height: 1;
  margin: 0;
  color: #000000;
  font-family: "Noyh", system-ui, -apple-system, sans-serif;
  padding-top: 0;
}

.numberHasLetter {
  margin-right: 20px;
}

.numberNoLetter {
  margin-right: 120px;
}

.label {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  color: rgb(92, 92, 92);
  text-transform: uppercase;
  font-family: "Noyh", system-ui, -apple-system, sans-serif;
  letter-spacing: 0.5px;
  text-align: left;
  margin-left: 14px;
}

.labelHasLetter {
  margin-right: 20px;
}

.labelNoLetter {
  margin-right: 20px;
}

@media (max-width: 1300px) {
  .inner {
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media (max-width: 600px) {
  .numberHasLetter {
    margin-right: 12px;
  }

  .numberNoLetter {
    margin-right: 40px;
  }

  .labelHasLetter {
    margin-right: 12px;
  }

  .labelNoLetter {
    margin-right: 40px;
  }
}


