@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue-Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Noyh';
  src: url('./fonts/fonnts.com-noyh-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noyh';
  src: url('./fonts/fonnts.com-noyh-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Noyh', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  /* Dark background */
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6,
.title,
.title2 {
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}