@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue-Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Noyh';
  src: url('./fonts/fonnts.com-noyh-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noyh';
  src: url('./fonts/fonnts.com-noyh-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noyh';
  src: url('./fonts/fonnts.com-noyh-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Noyh';
  src: url('./fonts/fonnts.com-noyh-heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Noyh';
  src: url('./fonts/fonnts.com-noyh-black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Noyh';
  src: url('./fonts/fonnts.com-noyh-thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Noyh';
  src: url('./fonts/fonnts.com-noyh-light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Noyh';
  src: url('./fonts/fonnts.com-noyh-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Noyh', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.title2 {
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Mobile navbar tweaks */
@media (max-width: 768px) {

  /* Let navbar scroll with content on mobile so the collapsed menu
     pushes the hero section down instead of overlapping it */
  .navbar {
    position: relative !important;
  }

  .navbar-brand img {
    width: 150px;
    max-width: 50vw;
  }

  .navbar-nav {
    text-align: center;
  }

  .navbar-nav .nav-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}