.parallax-section {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.parallax-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.parallax-image {
  position: absolute;
  top: -12%;
  left: 0;
  width: 100%;
  height: 140%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  will-change: transform;
}

@media (max-width: 768px) {
  .parallax-section {
    height: 60vh;
  }
  
  .parallax-image {
    height: 130%;
    top: -15%;
  }
}

@media (max-width: 480px) {
  .parallax-section {
    height: 50vh;
  }
}
